body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-montserrat: Montserrat;
  --font-stick: Stick;

  /* font sizes */
  --font-size-xl: 20px;
  --font-size-11xl: 30px;

  /* Colors */
  --color-white: #fff;
}
